<!--
This page is the field for the table when the employer matches the appropriate student
and the student is invited by the employer to view the relevant information of the employer.

This is the second part.

This page contains nation & state & city of workplace, language requirement, full time job and visa type.
-->
<tr><p>
    <td>
        {{ stu.workplace_nation }}
    </td>
    <td>
        {{ stu.workplace_state }}
    </td>
    <td>
        {{ stu.workplace_city }}
    </td>
    <td>
        {{ stu.language_requirement }}
    </td>
    <td>
        {{ stu.opportunity_to_fulltime_job }}
    </td>
    <td style="word-wrap:break-word;">
        {{ stu.visa }}
    </td>
    </p>
</tr>


