<!--
This page is the field for the table when the employer matches the appropriate student
and the student is invited by the employer to view the relevant information of the employer.

This is the first part.

This page contains the hostname internship name, internship category, education requirement,
salary and workdays.
-->
<tr><p>
    <td>
        {{ stu.hostname }}
    </td>
    <td>
        {{ stu.internship_name }}
    </td>
    <td>
        {{ stu.internship_category }}
    </td>
    <td>
        {{ stu.education_requirement }}
    </td>
    <td>
        {{ stu.salary }}
    </td>
    <td>
        {{ stu.workdays }}
    </td>

    </p>

</tr>


