<!--
This page is for the employer. This page contains part of the information for students applying for an internship.

This is the second part.
-->
<tr><p>
    <td>
        {{ stu[1].salary }}
    </td>
    <td>
        {{ stu[1].workplace_nation }}
    </td>
    <td>
        {{ stu[1].workplace_state }}
    </td>
    <td>
        {{ stu[1].workplace_city }}
    </td></p>
    <td style="word-wrap:break-word;">
        {{ stu[0].visa }}
    </td>
    <td>
        {{ stu[0].language }}
    </td>

</tr>


