<!--
This is the student's part.

This page is a form that shows the basics of the student using the quick form in WTForms.

This page contains the implementation of dynamic cascade selection in JavaScript label.
(Nation, State, City/ Field category, Internship Category )
-->

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <link rel="shortcut icon" href="#"/>
    <body>
    <h1>User Profile</h1>
    <div class="row">
        <div class="col-md-8">
            {{ wtf.quick_form(form) }}
            <script>
                let nation_select = document.getElementById('nation')
                let state_select = document.getElementById('state')
                let city_select = document.getElementById('city')
                nation_select.onchange = function () {
                    nation = nation_select.value;
                    fetch('/nation_state/' + nation).then(function (response) {
                        response.json().then(function (data) {
                            let optionHTML1 = ''
                            for (let state of data.states) {
                                optionHTML1 += '<option value="' + state.name + '">' + state.name + '</option>';
                            }
                            state_select.innerHTML = optionHTML1;
                        })
                    })
                };
                state_select.onchange = function () {
                    state = state_select.value;
                    fetch('/state_city/' + state).then(function (response) {

                        response.json().then(function (data) {
                            let optionHTML2 = ''
                            for (let city of data.cities) {
                                optionHTML2 += '<option value="' + city.name + '">' + city.name + '</option>';
                            }
                            city_select.innerHTML = optionHTML2;
                        })
                    })
                };
                let field_select = document.getElementById('field_category')
                let internship_select = document.getElementById('internship_category')
                field_select.onchange = function () {
                    field = field_select.value;

                    fetch('/host_internship_category/' + field).then(function (response) {
                        response.json().then(function (data) {
                            let optionHTML = ''
                            for (let internship_category of data.internship_categories) {
                                optionHTML += '<option value="' + internship_category.name + '">' + internship_category.name + '</option>';
                            }
                            internship_select.innerHTML = optionHTML;
                        })
                    })
                }
            </script>

            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </div>
    </div>
    </body>
{% endblock %}