<!--
This is the employer's page.

This page contains the information about students who apply internships posted by the host.

This page is used with the "_application.html".
-->
{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ current_user.avatar(256) }}"></td>
            <td>
                <h1>Host: {{ current_user.username }}</h1>
                {% if current_user.last_seen %}
                <p>Last seen on: {{ moment(current_user.last_seen).format('LLL') }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Internship Name</th>
                <th>Student Name</th>
                <th>Host Name</th>
                <th>Match Rate %</th>
            </tr>
        </thead>
        {% for stu in students %}
            {% include '_application.html' %}
        {% endfor %}
    </table>
<p><a href="{{ url_for('host_confirmation',hostname=current_user.username) }}" class="btn btn-primary" role="button">Back</a></p>

{% endblock %}
