<!--
This HTML is used for students.

This file contains the internship invitations from hosts.

This file is used with '_invitation.html'.
-->

{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ current_user.avatar(256) }}"></td>
            <td>
                <h1>User: {{ current_user.username }}</h1>
                {% if current_user.last_seen %}
                <p>Last seen on: {{ moment(current_user.last_seen).format('LLL') }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Internship Name</th>
                <th>Student Name</th>
                <th>Host Name</th>
            </tr>
        </thead>
        {% for stu in students %}
            {% include '_invitation.html' %}
        {% endfor %}
    </table>
<p><a href="{{ url_for('confirm_information') }}" class="btn btn-primary" role="button">Back</a></p>

{% endblock %}
